@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0a0a14;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a202c;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #00f3ff, #9d00ff);
    border-radius: 9999px;
}

/* Custom utility classes */
.cyber-glow {
    box-shadow:
            0 0 20px rgba(0, 243, 255, 0.3),
            0 0 40px rgba(157, 0, 255, 0.2);
}

.text-gradient {
    background: linear-gradient(to right, #00f3ff, #9d00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}